//字体大小定义
@font1: 12px;
@font2: 14px;
@font3: 16px;
@font4: 18px;
@font5: 28px;
@font6: 30px;

@color1: #666;
@color2: #f5f5f5;
@color3: #fff;
@color4: #000;
@color5: #428bca;
@color6: #e6e6e6;

//宽高定义
.size(@width){
    width: @width;
    height: @width;
}
.size(@width, @height){
    width: @width;
    height: @height;
}
